body {
  margin: 0;
  padding: 0;
  font-family: SWFont2;
  background-image: url('swbg.jpg');
  background-size: cover;
}

button, p, input {
  cursor: url(vadercursor.cur), auto;
}

@font-face {
  font-family: SWFont;
  src: url(Starjout.ttf);
}

@font-face {
  font-family: SWFont2;
  src: url(STJEDISE.TTF);
}